SELLER_ADDRESS=0xYourSellerWallet
AGENT_PRIVATE_KEYS=0xYourFundedGatewayBuyerPrivateKey
LEDGER_WRITER_PRIVATE_KEY=0xYourFundedArcLedgerWriterPrivateKey
ACCESS_LEDGER_ADDRESS=0xYourDeployedAccessLedger
ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARCSCAN_TX_BASE=https://testnet.arcscan.app/tx/
